
@import 
  "_partials/mixins",
  "_partials/global",
  "_partials/bootstrap_grid";

$burgundy: #bd170f;
$red: #D0161B;
$light_gray: #f1f1f1;
$rule_gray: #ccc;
$yellow: #fc0;
$blue: rgb(77,136,219);
$light_blue: rgb(209,239,253);
$light_red: rgb(255,225,228);
$light_green: rgb(222,240,223);




/* ==========================================================================
   Base
   ========================================================================== */

#top {
  height: 167px;
  border-top: 7px solid $yellow;
  background-color: $red;
}

#nav {
  height: 48px;
  background-color: $rule_gray;
}

#breadcrumbs {
  height: 40px;
  background-color: $light_gray;
}

#main-section {
  min-height: 1031px;
  padding: 10px 0 60px;
}

#site-footer {
  height: 158px;
  border-top: 5px solid $yellow;
  background-color: $red;
}



/* ==========================================================================
   Landing
   ========================================================================== */


.page-header {
  margin: 10px 0;
  border-top: 1px solid $rule_gray;
  border-bottom: 1px solid $rule_gray;
  padding: 15px 0;
  position: relative;
  &:after {
    content: "";
    direction: block;
    width: 1px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    background-color: $rule_gray;
  }
}

.page-header-inner-cell {
  width: 50%;
  vertical-align: middle;
}

.page-header-inner-cell-left {
  padding-right: 15px;
  text-align: left;
}

.page-header-inner-cell-right {
  padding-left: 25px;
  text-align: right;
}

.page-header-heading {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: $burgundy;
  margin-bottom: 3px;
  a {
    color: $burgundy;
    text-decoration: none;    
  }
}

.page-section-heading {
  margin-bottom: 10px;
  font: 500 18px 'helvetica neue', sans-serif;
}


/* ==========================================================================
   Survey
   ========================================================================== */


.owner-review-leading {
  margin-top: 30px;
}

.form-step-indicator {
  position: absolute;
  top: -34px;
  right: 0;
  z-index: 2;
  font: italic 300 13px/1 georgia, serif;
  color: #777;
}

.form-element {
  + .form-element {
    margin-top: 10px;
  }
  select, textarea {
    width: 100%;
    height: 38px;
    font: 300 18px 'helvetica neue', sans-serif;
    color: #aaa;
    background-color: #fff;
  }
  textarea {
    height: 142px;
  }
}

.form-element-instructions {
  margin: 0 0 20px;
  font: 300 12px/1.3 verdana, sans-serif;
  color: #777;
}

.form-cta {
  margin: 20px 0 0;
}

.form-cta-right {
  text-align: right;
}

.form-cta-button {
  position: relative;
  display: inline-block;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 16px 30px 16px 15px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
  + .form-cta-button {
    margin-top: 10px;
  }
  &:after {
    content: "\f105";
    min-height: 1em;
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 2;
    margin-top: -0.5em;
    font: normal normal 16px/1 FontAwesome;
    display: inline-block;
    text-decoration: inherit;
  }
  .form-cta-right & {
    width: auto;
  }
}

.form-cta-button-read, .form-cta-button-next {
  background-color: $burgundy;
  &:hover, &:focus {
    background-color: darken($burgundy, 10%);
  }
}

.form-cta-button-take {
  background-color: $blue;
  &:hover, &:focus {
    background-color: darken($blue, 10%);
  }
}

.form-cta-button-back {
  padding: 16px 15px 16px 30px;
  background-color: $rule_gray;
  text-align: right;
  color: #777;
  &:hover, &:focus {
    background-color: darken($rule_gray, 10%);
  } 
  &:after {
    content: "\f104";
    left: 15px;
    right: auto;
  }
}


/* ==========================================================================
   Survey
   ========================================================================== */


.review-header {
  margin: 0 0 30px;
  padding: 20px 0 40px;
  border-bottom: 1px solid $rule_gray;
  a {
    color: $blue;
  }
}

.review-header-heading {
  font-size: 21px;
  text-transform: uppercase;
}

.review-header-year {
  font-size: 16px;
  color: #777;
}

.review-header-back {
  text-align: right;
}

.review-header-questions {
  margin: 0;
  padding: 50px 10px 10px;
  border: none;
  color: #777;
  font: normal 16px/1.2 'helvetica neue', sans-serif;
  letter-spacing: 0;
  text-align: center;
}

.review-header-questions-bar {
  padding: 3px;
  box-shadow: inset 1px 1px 4px rgba(0,0,0, 0.1);
  background-color: $light_gray;
}

.review-header-questions-bar-fill {
  height: 16px;
  background-color: $yellow;
}

.review-header-question-rating {
  margin: 15px 0;
  font: italic 300 15px georgia, serif;
  color: #777;
  text-align: center;
  strong {
    display: inline-block;
    padding: 0 5px;
    font: normal 600 21px verdana, sans-serif;
    color: #000;
  }
}

.review-header-question-rating-average {
  margin: 10px 0 0;
  font: 300 11px/1 'arial narrow', arial, sans-serif;
  text-transform: uppercase;
}

.review-body-key {
  text-align: center;
}

.review-body-key-item {
  position: relative;
  display: inline-block;
  padding: 22px 0 30px;
  text-transform: uppercase;
  &:after {
    content: "\f111";
    display: inline-block;
    min-height: 1em;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    margin-left: -0.5em;
    font: normal normal 16px/1 FontAwesome;
    display: inline-block;
    text-decoration: inherit;
  }
  + .review-body-key-item {
    margin-left: 30px;
  }
}

.review-body-key-item-best {
  &:after {
    color: $light_green;
  }
}

.review-body-key-item-worst {
  &:after {
    color: $light_red;
  }
}

.review-body-key-item-general {
  &:after {
    color: $light_blue;
  }
}

.review-comment {
  padding: 10px;
  font: italic 300 13px/1.3 georgia, serif;
  + .review-comment {
    margin-top: 10px;
  }
}

.review-comment-best {
  color: darken($light_green, 55%);
  background-color: $light_green;
}

.review-comment-worst {
  color: darken($light_red, 55%);
  background-color: $light_red;
}

.review-comment-general {
  color: darken($light_blue, 55%);
  background-color: $light_blue;
}




/* ==========================================================================
   Utilities
   ========================================================================== */


.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.highlight-box {
  border-radius: 3px;
  padding: 40px;
  background-color: $light_gray;
}

.highlight-box-relative {
  position: relative;
}


.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-cell {
  display: table-cell;
}



