---
title: Owner Reviews
---

<% content_for :style do %>
  <style>

    .review-header-questions-bar-fill {
      height: 16px;
      background-color: $yellow;
      -webkit-animation: bar-fill 2s;
      -moz-animation: bar-fill 2s;
      animation: bar-fill 2s;
    }

    @-webkit-keyframes bar-fill {
       0% { width: 0; }
    }
    @-moz-keyframes bar-fill {
       0% { width: 0; }
    }
    keyframes bar-fill {
       0% { width: 0; }
    }
  </style>
<% end %>


        <div class="review-header">
          <div class="review-header-section">
            <div class="row">
              <div class="col-md-9">
                <h2 class="review-header-heading">
                  Subaru Outback
                </h2>
                <div class="review-header-year">
                  2002
                </div>
              </div>
              <div class="col-md-3">
                <div class="review-header-back">
                  <%= link_to('Review another car  >', '/') %>
                </div>
              </div>
            </div>
          </div>
          <div class="review-header-section">
            <div class="row">
              <div class="col-md-4">
                <h3 class="review-header-questions">
                  How much do you like this car?
                </h3>
                <div class="review-header-questions-bar">
                  <div class="review-header-questions-bar-fill" style="width: 64%;">
                  </div>
                </div>
                <div class="review-header-question-rating">
                  <strong>6.4</strong> out of <strong>10</strong>
                  <div class="review-header-question-rating-average">
                    Average score: 7.4
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h3 class="review-header-questions">
                  Would you buy it again?
                </h3>
                <div class="review-header-questions-bar">
                  <div class="review-header-questions-bar-fill" style="width: 72%;">
                  </div>
                </div>
                <div class="review-header-question-rating">
                  <strong>7.2</strong> out of <strong>10</strong>
                  <div class="review-header-question-rating-average">
                    Average score: 7.4
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h3 class="review-header-questions">
                  Would you recommend it to a friend?
                </h3>
                <div class="review-header-questions-bar">
                  <div class="review-header-questions-bar-fill" style="width: 88%;">
                  </div>
                </div>
                <div class="review-header-question-rating">
                  <strong>8.8</strong> out of <strong>10</strong>
                  <div class="review-header-question-rating-average">
                    Average score: 7.4
                  </div>
                </div>
              </div>
            </div>
            <div class="review-header-respondents">
              <span class="review-header-respondents-figure">
                41 Total Respondents
              </span>
            </div>
          </div>
        </div>


        <div class="review-body">
          <h2 class="page-section-heading page-section-heading-centered">
            Filter review comments by:
          </h2>

          <div class="review-comment-nav">
            <span class="review-comment-filter review-comment-filter-all current" data-filter="*">
              All
            </span>
            <span class="review-comment-filter review-comment-filter-best" data-filter=".review-comment-best">
              Best
            </span>
            <span class="review-comment-filter review-comment-filter-worst" data-filter=".review-comment-worst">
              Worst
            </span>
            <span class="review-comment-filter review-comment-filter-general" data-filter=".review-comment-general">
              General
            </span>
          </div>

          <div class="review-comments">
            <div class="review-comment-sizer"></div>
            <% 20.times.each do |comment| %>
              <div class="review-comment review-comment-<%= ['best', 'worst', 'general'].sample %>">
                <div class="review-comment-interior">
                  <%= lorem.sentences(2) %>
                </div>
              </div>
            <% end %>
          </div>


        </div>
