---
title: Owner Reviews
---



  <div class="row">
    <div class="col-md-10 col-md-offset-1">


        <h2 class="page-section-heading">
          Thank you for taking the survey!
        </h2>
        <div class="highlight-box highlight-box-relative">
          <%= image_tag(lorem.image('1200x500', :text => 'Thank you image'), :class => 'img-responsive') %>
        </div>
        <div class="form-cta form-cta-right">
          <a class="form-cta-button form-cta-button-next" href="/">
            Read reviews
          </a>
        </div>


    </div>
  </div>